body{
  font-family: 'Permanent Marker', cursive;
  background-color: rgb(219, 217, 240);
}

h1 {
  text-align: center;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  margin-bottom: 50px;
}

table {
    border-collapse: collapse;
    margin-left: 470px;

  }


td {
    width: 170px;
    height: 170px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
  }

#case-1 {
  border-top: none;
  border-left: none;
}  
#case-2 {
  border-top: none;
}  
#case-3 {
  border-top: none;
  border-right: none;
}
#case-4 {
  border-left: none;
}
#case-6 {
  border-right: none;
}
#case-7 {
  border-left: none;
  border-bottom: none;
}
#case-8 {
  border-bottom: none;
}
#case-9 {
  border-right: none;
  border-bottom: none;
}
#joueur {
  text-align: center;
  margin-top: 50px;
  font-family: 'La Belle Aurore', cursive;
  font-size: 25px;
}

button {
  margin-left: 1050px;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  background-color: hsl(271, 31%, 60%);
  cursor: pointer;
  color: white;
  transition: all 0.5s;

}
button:hover {
  background-color: rgb(60, 60, 93);
}